.sign-in-form {
    float: right;
    padding-right: 10%;
    padding-top: 15%;
}

.registration-form {
    padding-left: 7%;
    padding-top: 15%;
}

.sign-in-input {
    margin-top: 3px;
    margin-bottom: 3px;
}

.registration-input {
    margin-top: 3px;
    margin-bottom: 3px;
}
.library-div {
    background-color: black;
    height: 200px;
    width: 300px;
}